@import 'tailwindcss';

h1 {
    @apply text-3xl font-semibold;
}

h2 {
    @apply text-2xl font-semibold;
}

main {
    @apply text-center p-16;
}

a {
    @apply text-blue-400 underline hover:no-underline;
}

code {
    @apply bg-gray-300 rounded-md px-4 py-2;
}